<% include ../partials/header %>
<% include ../partials/navbarNormal %>
	<!-- Header Stuff -->
	<div class="page-header header-filter" data-parallax="true" style=" background-image: url('/assets/img/blogs/steam.jpg'); ">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title"><%= article.title %></h2>
                    <h4>
						<% if(article.l_article_categories_id) { %>
							<%= article.l_article_categories_id.name %>
						<% } else  { %>
							Uncategorized
						<% } %>
						| <%= article.created %> | Ditulis oleh: Walter White
					</h4>
                </div>
            </div>
        </div>
    </div>
    
	<div class="main main-raised">
		<div class="container">
			<div class="section section-text">
				<div class="col-md-8 ml-auto mr-auto">
					<div class="row">
						<%- article.body %>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="blog-tags">
								Tags:
								<% if(article.l_article_tags_id && article.l_article_tags_id > 0) { %>
									<% for(var i = 0; i < article.l_article_tags_id.length; i ++) { %>
										<span class="badge badge-primary badge-pill"><%= article.l_article_tags_id[i].name %></span>
									<% } %>
								<% } else { %>
									<span class="badge badge-primary badge-pill">No Tags</span>
								<% } %>
							</div>
						</div>
						<div class="col-md-6">
							<a href="#pablo" class="btn btn-google btn-round float-right">
								<i class="fa fa-google"></i>  232
							</a>
							<a href="#pablo" class="btn btn-twitter btn-round float-right">
								<i class="fa fa-twitter"></i>  910
							</a>
							<a href="#pablo" class="btn btn-facebook btn-round float-right">
								<i class="fa fa-facebook"></i>  872
							</a>
						</div>
					</div>
					<hr>
					<div class="card card-profile card-plain text-left">
						<div class="row">
							<div class="col-md-2">
								<div class="card-avatar">
									<a href="#pablo">
										<img class="img" src="/assets/img/portraits/img10.jpg">
									</a>
									<div class="ripple-container"></div>
								</div>
							</div>
							<div class="col-md-10">
								<h4 class="card-title">Walter White</h4>
								<p class="description">I've been trying to figure out the bed design for the master bedroom at our Hidden Hills compound...I like good music from Youtube.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h3 class="title text-center">Artikel Terkait</h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="card card-blog">
								<div class="card-header card-header-image">
									<a href="#pablo">
										<img class="img img-raised" src="/assets/img/blogs/img1.jpg">
									</a>
								</div>
								<div class="card-body">
									<h6 class="category text-info">Gejala</h6>
									<h4 class="card-title">
										<a href="#pablo">Sakit Perut? Kenali 10 Gejala Kanker!</a>
									</h4>
									<p class="card-description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
										<a href="#pablo"> Baca Art </a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card card-blog">
								<div class="card-header card-header-image">
									<a href="#pablo">
										<img class="img img-raised" src="/assets/img/blogs/img2.jpg">
									</a>
								</div>
								<div class="card-body">
									<h6 class="category text-info">Pencegahan</h6>
									<h4 class="card-title">
										<a href="#pablo">Cara Mencegah Sakit Kepala</a>
									</h4>
									<p class="card-description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
										<a href="#pablo"> Baca Artikel </a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card card-blog">
								<div class="card-header card-header-image">
									<a href="#pablo">
										<img class="img img-raised" src="/assets/img/blogs/img3.jpg">
									</a>
								</div>
								<div class="card-body">
									<h6 class="category text-info">Pengobatan</h6>
									<h4 class="card-title">
										<a href="#pablo">Cegah Komplikasi! Banyaknya Obat Dengan Efek Samping yang Berbahaya.</a>
									</h4>
									<p class="card-description">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
										<a href="#pablo"> Baca Artikel </a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		if(document.querySelector("p > img")) {
			let imgList = document.querySelectorAll("p > img");
			imgList.forEach(function(element){
				element.classList.add("card");
				element.classList.add("card-blog");
			});
		}
		
		if(document.querySelector("iframe")) {
			console.log("There's a video");
			console.log(document.querySelector("iframe"));
		}
	</script>
	
<% include ../partials/footer %>