<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>
<body class="blog-posts">
<% include ../partials/navbarNormal %>
	<!-- Header Stuff -->
	<div class="page-header header-small" data-parallax="true">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Indeks Artikel-artikel Kesehatan</h2>
                </div>
            </div>
        </div>
    </div>
    
	<div class="main main-raised">
		<div class="container">
			<div class="section">
				<% include ../partials/navbar/articleNavbar %>
				<div class="row">
					<div class="col-md-8 ml-auto mr-auto text-center">
						<h3 class="title">
							<% if(typeof tag !== "undefined") { %>
								Artikel terbaru untuk "<%= tag[0].name %>"
							<% } else if(typeof category !== "undefined" && category != "index" && category != "home")  { %>
								Artikel <%= articles[0].l_article_categories_id.name %> Terbaru
							<% } else { %>
								Semua Artikel Terbaru
							<% } %>
						</h3>
					</div>
				</div>
				<div class="row">
					<% if (articles.length < 1) { %>
						<p>Belum ada artikel disini :(</p>
					<% } else { %>
						<% articles.forEach(function(article) { %>
							<div class="col-md-12 ml-auto mr-auto">
								<div class="card card-plain card-blog">
									<div class="row">
										<div class="col-md-4">
											<div class="card-header card-header-image">
												<img class="img img-raised" src="/assets/img/blogs/img1.jpg">
											</div>
										</div>
										<div class="col-md-8">
											<h6 class="card-category text-info">
												<% if(article.l_article_categories_id) { %>
													<%= article.l_article_categories_id.name %>
												<% } else  { %>
													Uncategorized
												<% } %>
											</h6>
											<h3 class="card-title">
												<a href="/artikel/<%= article.id %>"><%= article.title %></a>
											</h3>
											<p class="card-description">
												<% if(article.description) { %>
													<%= article.description %>
												<% } else { %>
													Baca artikel untuk tahu lebih lanjut
												<% } %>
											</p>
											<a href="/artikel/<%= article.id %>">Baca lebih</a>
											<p class="author">
												oleh
												<a href="/artikel/<%= article.id %>">
													<strong><%= article.author %></strong>
												</a>
												, <%= article.created %>
											</p>
										</div>
									</div>
								</div>
							</div>
						<% }); %>
					<% }; %>
					<div class="ml-auto mr-auto text-center">
						<ul class="pagination pagination-primary">
							<li class="page-item">
								<a href="javascript:void(0);" class="page-link">Sebelum</a>
							</li>
							<li class="page-item active">
								<a href="javascript:void(0);" class="page-link">1</a>
							</li>
							<li class="page-item">
								<a href="javascript:void(0);" class="page-link">2</a>
							</li>
							<li class="page-item">
								<a href="javascript:void(0);" class="page-link">3</a>
							</li>
							<li class="page-item">
								<a href="javascript:void(0);" class="page-link">4</a>
							</li>
							<li class="page-item">
								<a href="javascript:void(0);" class="page-link">5</a>
							</li>
							<li class="page-item">
								<a href="javascript:void(0);" class="page-link">Sesudah</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<h3 class="title float-left">Dapatkan Info Kesehatan Terkini</h3>
						<h5 class="description float-left">Kami akan mengirim informasi kesehatan terkini langsung ke email anda</h5>
					</div>
					<div class="col-md-6 align-items-center d-flex">
						<div class="card card-plain card-form-horizontal">
							 <div class="card-body">
							 	<form method="" action="">
							 		<div class="row">
							 			<div class="col-md-8">
							 				<div class="input-group">
							 					<div class="input-group-prepend">
							 						<span class="input-group-text">
							 							<div class="icon icon-primary">
							 								<i class="material-icons">email</i>
							 							</div>
							 						</span>
							 					</div>
							 					<input type="text" class="form-control" placeholder="Email Anda">
							 				</div>
							 			</div>
							 			<div class="col-md-4">
							 				<button type="button" class="btn btn-primary btn-round btn-block">Kirim</button>
							 			</div>
							 		</div>
							 	</form>
							 </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<% include ../partials/footer %>
	</body>
</html>